html, body{
	height: 100%;
	background: #E2E4E5;
}

.footer{
	background: white;
	position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
}

#wrapper{
	position: relative;
	padding-bottom: 100px;
	min-height: 100vh;
	overflow-x: visible;
}

.product img{
	width: 100%;
}