<nav id="header-navbar" class="navbar navbar-default navbar-fixed-top" ng-class="{'navbar-shrink': scrollDown, 'navbar-home': $state.$current.name == 'homepage' }" scroll-nav role="navigation">
	<div class="container-fluid top-header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<a class="logo pull-left" ui-sref="homepage" href="#services" du-smooth-scroll>
						<img src="/img/logo.png" alt="">
					</a>
<!--
					<a class="logo pull-left" href="./#" du-smooth-scroll>
						<img src="/img/logo.png" alt="">
					</a>
-->
					<ul class="nav navbar-nav">

						<li class="nav-item" ng-repeat="nav in navs">
							<a class="nav-link"  ui-sref="homepage({'#': '{{nav.a}}'})" du-smooth-scroll>{{nav.text}}</a>
						</li>

<!--
						<li class="nav-item" ng-repeat="nav in navs">
							<a class="nav-link"  ui-sref="homepage" du-smooth-scroll du-scrollspy href="{{nav.a}}" >{{nav.text}}</a>
						</li>
-->
						<li class="nav-item">
							<a class="nav-link" ui-sref="static.aboutus">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" ui-sref="store.landing">Store</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" ui-sref="admin.dashboard">Admin</a>
						</li>
					</ul>

				
					<ul class="nav navbar-nav navbar-right" ng-if="!globals.currentUser" >
						<li><a ui-sref="user.register"><span class="glyphicon glyphicon-user"></span>
							Sign up
							</a>
						</li>
						<li><a ui-sref="user.login"><span class="glyphicon glyphicon-log-in"></span>
							Login
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right" ng-if="globals.currentUser" >
						<!--li><a ng-click="hideMenu()" href="smsadmin/ex.dashboard.html"-->
						<li class="dropdown" ><a data-toggle="dropdown"  href="">
							<span class="glyphicon glyphicon glyphicon-user"></span>
							Hello,
							{{globals.currentUser.username}}
							<span class="caret"></span>
							</a>

							<ul class="dropdown-menu">
								<li><a href="smsadmin/ex.dashboard.html">
									<span class="glyphicon glyphicon-th-large"></span>
									"My Account
									</a>
								</li>
								<li><a href="#login">
									<span class="glyphicon glyphicon-log-out"></span>
									Logout
									</a></li>
							</ul>

						</li>

						<li><a ng-click="hideMenu()" href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span>
							<translate>{{"Cart"}}</translate>
							<span class="cart-num" ng-show="cartnumber">{{cartnumber}}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>