<nav class="navbar navbar-dark bg-inverse" style='background: white'>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<a class="navbar-brand" href="#">Projaect name</a>
				<ul class="nav navbar-nav">
					<li class="nav-item">
						<a class="nav-link" ui-sref="homepage">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" ui-sref="store.landing">Store</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" ui-sref="admin.dashboard">Admin</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>