<!-- Wrapper-->
<div id="wrapper" ng-controller="homeCtrl">

	<!-- Navigation -->
	<div ng-include="'components/shared/header.html'"></div>

	<div id="content">
		
		<!-- Carousel -->
		<div ng-include="'components/home/sections/carousel.html'"></div>
		<hr>
		<!-- Products -->
		<div ng-include="'components/home/sections/product.html'"></div>
		<hr>
		<!-- Use Cases -->
		<div ng-include="'components/home/sections/cases.html'"></div>
		<hr>
		<!-- About Us -->
		<div ng-include="'components/home/sections/about.html'"></div>
		<hr>
		<!-- Contact -->
		<div ng-include="'components/home/sections/contact.html'"></div>


	</div>
	<!-- End page wrapper-->

	<!-- FOOTER -->
	<div ng-include="'components/shared/footer.html'"></div>

</div>
<!-- End wrapper-->