<!-- Wrapper-->
<div id="wrapper" ng-controller="homeCtrl">

	<!-- Navigation -->
	<div ng-include="'components/shared/header.html'"></div>

	<div id="content">

		<!-- Carousel -->
		<div ng-include="'components/home/parts/carousel.html'"></div>
		<hr>
		<!-- Products -->
		<div ng-include="'components/home/parts/product.html'"></div>
		<hr>
		<!-- Use Cases -->
		<div ng-include="'components/home/parts/cases.html'"></div>
		<hr>
		<!-- About Us -->
		<div ng-include="'components/home/parts/about.html'"></div>
		<hr>
		<!-- Contact -->
		<div ng-include="'components/home/parts/contact.html'"></div>

		
	

	</div>
	<!-- End page wrapper-->

	<!-- FOOTER -->
	<footer class="footer" ng-include="'components/shared/footer.html'"></footer>

</div>
<!-- End wrapper-->