<div id="about" class="container">
	<h1>About</h1>
	<div class="row">
		<div class="col-lg-12">
			<ul class="timeline">
				<li>
					<div class="timeline-image paper">
						<img class="img-circle img-responsive" src="img/citic.png" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>CITIC Telecom International Holdings Limited</h4>
							<h4 class="subheading">stock code: 01883</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								CITIC Telecom International Holdings Limited (“CITIC Telecom”) owns and operates a telecoms hub with its key markets in China and Hong Kong.
								The Group is actively expanding its business internationally by providing interoperability and interconnection services to global telecoms operators.
							</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image paper">
						<img class="img-circle img-responsive" src="img/CPC.png" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading text-left">
							<h4>CITIC Telecom CPC</h4>
							<h4 class="subheading">Information and Communications Technology</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								CITIC Telecom’s main businesses cover Voice Services, SMS Services, Mobile Value Added Service (VAS) and Data Services.
								It also provides a full range of Information and Communications Technology (ICT) solutions through its wholly-owned subsidiary,
								CITIC Telecom International CPC Limited (“CITIC Telecom CPC”), across the Asia Pacific region. CITIC Telecom CPC is a preferred partner of leading multinational corporations and business enterprises.
							</p>
						</div>
					</div>
				</li>
				<li class="timeline">
					<div class="timeline-image paper">
						<img class="img-circle img-responsive" src="img/CTM.png" alt="">
					</div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>CTM</h4>
							<h4 class="subheading">Macau’s leading integrated telecoms</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">
								CITIC Telecom holds 99% interest in Companhia de Telecomunicações de Macau, S.A.R.L. (“CTM”), one of Macau’s leading integrated telecoms services providers.
								CTM, the only full telecoms service provider in Macau, is a long-time leader in providing excellent telecoms services to Macau residents and enterprises while playing a major role in the ongoing development of Macau.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>