<div class="container">
		<div class="row">
			 <div class="col-lg-8 col-lg-offset-2 text-center">
               <!-- <h2 class="section-heading">contact</h2>  -->
				<p class="text-large">Let's Get In Touch!</p>
                <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
            <div class="col-sm-3 col-sm-offset-3 text-center contact-block">
                <i class="icon-phone wow bounceIn" style="font-size: 2em"></i>
                <p id="xyz112">2377 8888</p>
            </div>
            <div class="col-sm-3 text-center contact-block">
                <i class="icon-envelope wow bounceIn"  style="font-size: 2em" data-wow-delay=".1s"></i>
                <p><a href="mailto:your-email@your-domain.com">contact@citictel.com</a></p>
            </div>
		</div>

	</div>