/* Only demo */
@media (max-width: 1000px) {
	.welcome-message {
		display: none;
	}
}

/* self define */
html, body{
	height: 100%;
	background: #E2E4E5;
}

.footer{
	background: white;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: auto;
}
#content{
	padding-top: 80px;
	&.home-content{
		padding-top: 0px;
	}
}

#wrapper{
	position: relative;
	padding-bottom: 100px;
	min-height: 100vh;
	overflow-x: visible;
}

span{
	> img{
		width: 100%;
		height: auto;
	}
}
.product img{
	width: 100%;
}


.paper{
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);	
   background: white;
}

.timeline-image{
	width: 100px;	
	height: auto;
}

.admin-bg{
	background: $admin-bg;
	#page-wrapper{
		background: #f3f3f4;
	}
}


/**** TIMELINE ****/
.timeline > li{
   margin-bottom: 50px !important;
}

.timeline>li .timeline-image {
   background-color: #FFFFFF;
   border: 0;

}

.timeline>li .timeline-image img {
   min-width:100% !important;
}

.timeline > li .timeline-panel{
   text-align: left;
}

.timeline .timeline-heading{
   font-size: 14px;
   font-weight: 400;
}
.timeline .timeline-heading h4{
   font-size: 1.6em;
   letter-spacing: 0px;
   color: #00BEF1;

}
.timeline .timeline-heading h4.subheading{
   font-size: 0.8em;
   font-family: 'Open Sans', Arial, sans-serif;
   font-weight: 600;
   color: #AAA;
   text-transform: uppercase;
}