<div class="">
	<h1>About Us</h1>

	<font class="orange14">About CITIC Telecom International</font>

	<br>
	<br>
	<font color="#f35a29"> CITIC Telecom International Holdings Limited </font>(“CITIC Telecom”) (stock code: 01883) is a reputable telecoms operator in Asia.<br>
	<br>
	CITIC Telecom owns and operates a telecoms hub with its key markets in China and Hong Kong. The Group is actively expanding its business internationally by providing interoperability and interconnection services to global telecoms operators. CITIC Telecom’s main businesses cover Voice Services, SMS Services, Mobile Value Added Service (VAS) and Data Services. It also provides a full range of Information and Communications Technology (ICT) solutions through its wholly-owned subsidiary, CITIC Telecom International CPC Limited (“CITIC Telecom CPC”), across the Asia Pacific region. CITIC Telecom CPC is a preferred partner of leading multinational corporations and business enterprises.<br>
	<br>
	CITIC Telecom holds 99% interest in Companhia de Telecomunicações de Macau, S.A.R.L. (“CTM”), one of Macau’s leading integrated telecoms services providers. CTM, the only full telecoms service provider in Macau, is a long-time leader in providing excellent telecoms services to Macau residents and enterprises while playing a major role in the ongoing development of Macau.<br>
	<br>
	Our parent company <font color="#f35a29">CITIC Limited</font> (<a target="_blank" href="http://www.citic.com">http://www.citic.com</a>), is a publicly traded Hong Kong corporation with its shares listed on the Hong Kong Stock Exchange (stock code: 00267), and is one of the largest constituent stocks within the Hang Seng Index. Formerly known as CITIC Pacific Limited, the company changed its name to CITIC Limited when it acquired substantially all of the assets from CITIC Group in August 2014. As China’s largest conglomerate, its businesses include financial services, resources and energy, manufacturing, real estate and infrastructure, engineering contracting, and other businesses in China and overseas.<br>
	<br>
	<font color="#f35a29">CITIC Group Corporation</font> (<a target="_blank" href="http://www.group.citic">http://www.group.citic</a>), one of the largest commercial organisations in China, is the ultimate holding company of CITIC Telecom.<br>
	<br>

	<b>The CITIC Telecom Advantage</b>
	<ul class="orange">
		<li>High quality, flexible global connectivity with strong signaling variant adoption</li>
		<li>Rapid and flexible implementation via experienced engineering professionals</li>
		<li>Special and comprehensive billing functionality</li>
		<li>Ability to partner with customers to develop and provide a wide range of VAS over existing network infrastructure</li>
		<li>Focused on wholesale customers while avoiding competitive business overlapping with customers or partners</li>
		<li>Responsive and attentive supports and customer services, with the provision of highly reliable 7x24 operations</li>
	</ul>
	<br>
	<div class="div-top-line"></div>
	<br>
	<font class="orange14">Vision</font><br>
	To become the Telecommunications Services Provider of choice providing voice, mobile and data services to our enterprise and residential customers, as well as our telecoms operator partners.<br>
	<br>
	<div class="div-top-line"></div>
	<br>
	<font class="orange14">Mission</font>
	<ul class="orange">
		<li>To develop Hong Kong and Macau as the Communications Services Centres in Asia connecting China with the rest of the world.</li>
		<li>To consistently provide best-of-breed services and exceed customer expectations.</li>
		<li>To be the partner of choice in dealing with today’s dynamic and changing markets.</li>
		<li>To provide a diverse range of services to enable our customers to capture value.</li>
	</ul>
	<br>
	<br>
</div>